/*Bluish Green*/
/*Yellowish Red*/
/*Yellow*/
/*Red*/
/*Green*/
/*Blue*/
/*Violet*/
/*Indigo*/
/*Grey*/
/*Light Grey*/
/*Pure*/
.block-div {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
}
li {
  list-style: none;
}
a,
a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
.header {
  margin-bottom: 25px;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  -webkit-transition: all .4s;
  transition: all .4s;
  background-color: transparent;
}
.header:not(.min) {
  box-shadow: none;
  height: auto;
}
.header .content {
  max-width: 1000px;
  margin: auto;
  overflow: auto;
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  position: relative;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header .content .logo {
  float: left;
  margin-right: 0;
  width: 0;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header .content .logo.special {
  position: absolute;
  bottom: 60px;
  right: 25px;
  color: #bdc3c7;
  font-size: 2em;
  width: auto;
  overflow: hidden;
}
.header .content .img {
  height: 200px;
  width: 200px;
  float: left;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  background-color: #eaf4fb;
  margin-right: 25px;
  position: relative;
  z-index: 2;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  display: flex;
  align-items: center;
}
.header .content .img img {
  width: 100%;
  height: auto;
}
.header .content .name {
  margin-top: 25px;
  font-size: 32px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #000000;
}
.header .content .link {
  margin-top: 90px;
  font-size: 14px;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #bdc3c7;
}
.header .content .link:hover {
  color: #7f8c8d;
}
.header .content .menu-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 25px;
  border-top: 1px solid #ecf0f1;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header .content .menu-bar .menu {
  background-color: #ecf0f1;
  float: right;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header .content .menu-bar .menu li {
  background-color: #ffffff;
  float: left;
  text-align: center;
  margin-left: 2px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header .content .menu-bar .menu li a {
  display: block;
  padding: 12px;
  color: #95a5a6;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-bottom: 3px solid transparent;
  text-transform: capitalize;
}
.header .content .menu-bar .menu li a:hover {
  box-shadow: 0 0 5px #95a5a6;
  color: #000000;
}
.header .content .menu-bar .menu li a.active {
  border-bottom-color: #3498db;
}
.header .content .menu-bar .menu li:first-child {
  margin: 0;
}
.header .content .menu-bar .menu li:hover {
  position: relative;
  z-index: 2;
}
.header .content .menu-bar .menu li.img-btn a {
  padding: 13px 12px;
  opacity: .4;
}
.header .content .menu-bar .menu li.img-btn a:hover {
  opacity: 1;
}
.header .content .menu-bar .menu li.img-btn a span {
  display: block;
  height: 16px;
  width: 16px;
  background-size: 16px 16px;
}
.header .content .menu-bar .menu li.img-btn a span.logout {
  background-image: url(../img/logout-d.png);
}
.header .content .menu-bar .menu li.img-btn a span.search {
  background-image: url(../img/search-d.png);
}
.header.min {
  background-color: #3498db;
}
.header.min .content {
  padding: 0;
  background-color: transparent;
  box-shadow: none;
}
.header.min .content .logo {
  margin-right: 25px;
  width: 110px;
  line-height: 50px;
}
.header.min .content .logo.special {
  height: 0;
}
.header.min .content .img {
  height: 32px;
  width: 32px;
  border: 3px solid #2980b9;
  box-shadow: none;
  margin-right: 12px;
  margin-top: 10px;
}
.header.min .content .name {
  margin-top: 16px;
  font-size: 20px;
  color: #ffffff;
}
.header.min .content .link {
  height: 0;
  margin-top: 0;
  overflow: hidden;
}
.header.min .content .menu-bar {
  border-color: transparent;
  padding-right: 0;
}
.header.min .content .menu-bar .menu {
  background-color: transparent;
}
.header.min .content .menu-bar .menu li {
  background-color: transparent;
}
.header.min .content .menu-bar .menu li a {
  color: #ecf0f1;
}
.header.min .content .menu-bar .menu li a:hover {
  color: #ffffff;
  box-shadow: none;
  border-bottom-color: #2980b9;
}
.header.min .content .menu-bar .menu li a.active {
  border-bottom-color: #ecf0f1;
}
.header.min .content .menu-bar .menu li.img-btn a {
  opacity: .8;
}
.header.min .content .menu-bar .menu li.img-btn a:hover {
  opacity: 1;
}
.header.min .content .menu-bar .menu li.img-btn a span.logout {
  background-image: url(../img/logout.png);
}
.header.min .content .menu-bar .menu li.img-btn a span.search {
  background-image: url(../img/search.png);
}
.center {
  max-width: 1000px;
  margin: auto;
  position: relative;
}
.center .wait-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  background-image: url(/Assets/img/hourglass.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center 100px;
  display: none;
}
.center .wait-overlay.on {
  display: block;
}
.center > * > .container {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: flex-start;
}
.center > * > .container > .entries {
  width: 70%;
}
.center > * > .container > .entries .entry {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  background-repeat: no-repeat;
  background-position: 12px 12px;
  background-size: 32px 32px;
  margin-bottom: 25px;
}
.center > * > .container > .entries .entry .title a {
  color: #3498db;
}
.center > * > .container > .entries .entry .title a:hover {
  color: #2980b9;
}
.center > * > .container > .entries .entry.hide {
  display: none;
}
.center > * > .container > .entries .entry .timestamp {
  font-size: 12px;
  color: #95a5a6;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(149, 165, 166, 0.4);
}
.center > * > .container > .entries .more {
  order: 2;
  border: 1px solid rgba(127, 140, 141, 0.25);
  background-color: rgba(236, 240, 241, 0.25);
  text-align: center;
  padding: 12px 25px;
  margin-bottom: 50px;
  font-size: 12px;
  font-weight: bold;
}
.center > * > .container > .entries .more:hover {
  box-shadow: 0 1px 3px -1px #95a5a6;
}
.center > * > .container > .entries .more:active {
  box-shadow: 0 0 2px -1px #95a5a6;
}
.center > * > .container .sidebar {
  margin-left: 2.5%;
  width: 27.5%;
  padding: 0 25px;
}
.center > * > .container .sidebar.filter .title {
  padding-bottom: 6px;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(149, 165, 166, 0.4);
}
.center > * > .container .sidebar.filter .title:nth-of-type(n+2) {
  margin-top: 12px;
}
.center > * > .container .sidebar.filter li {
  padding: 6px 25px;
  background-image: url(../img/check/n.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 0 8px;
  cursor: pointer;
}
.center > * > .container .sidebar.filter li.on {
  background-image: url(../img/check/y.png);
}
.center .container.news .entries .entry {
  padding: 12px 25px 12px 55px;
}
.center .container.news .entries .entry .timestamp {
  font-size: 12px;
  color: #95a5a6;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(149, 165, 166, 0.4);
}
.center .container.news .entries .entry.new-audition {
  background-image: url(../img/new-audit.png);
}
.center .container.news .entries .entry.audition-info,
.center .container.news .entries .entry.audition-info.b {
  background-image: url(../img/info/b.png);
}
.center .container.news .entries .entry.audition-info.r {
  background-image: url(../img/info/r.png);
}
.center .container.news .entries .entry.audition-info.g {
  background-image: url(../img/info/g.png);
}
.center .container.news .entries .entry.audition-info .title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 15px;
}
.center .container.news .entries .entry.user-update {
  background-image: url(../img/user.png);
}
.center .container.news .entries .entry.user-update .title {
  margin-bottom: 12px;
}
.center .container.news .entries .entry.user-update .content {
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  background-color: #eaf4fb;
  height: 300px;
  margin-bottom: 12px;
}
.center .container.news .entries .entry.new-task {
  background-image: url(../img/task.png);
}
.center .container.news .entries .entry.new-task .title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 15px;
}
.center .container.news .entries .entry.invite {
  background-image: url(../img/invite.png);
}
.center .container.news .entries .entry.invite .options {
  height: 30px;
  margin-bottom: 12px;
}
.center .container.news .entries .entry.invite .options button {
  float: right;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
}
.center .container.news .entries .entry.invite .options button.accept {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0 0 0 12px;
  padding: 0 12px;
  color: #7f8c8d;
}
.center .container.news .entries .entry.invite .options button.accept[disabled] {
  background-color: #ecf0f1;
}
.center .container.news .entries .entry.invite .options button.accept[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.news .entries .entry.invite .options button.accept:not([disabled]):hover,
.center .container.news .entries .entry.invite .options button.accept:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.news .entries .entry.invite .options button.accept:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.news .entries .entry.invite .options button.decline {
  color: #e74c3c;
  cursor: pointer;
}
.center .container.news .entries .entry.invite .options button.decline:hover,
.center .container.news .entries .entry.invite .options button.decline:focus {
  text-decoration: underline;
  color: #c0392b;
}
.center .container.news .entries .entry.notify,
.center .container.news .entries .entry.notify.b {
  background-image: url(../img/notify/b.png);
}
.center .container.news .entries .entry.notify.r {
  background-image: url(../img/notify/r.png);
}
.center .container.news .entries .entry.notify.g {
  background-image: url(../img/notify/g.png);
}
.center .container.auditions .entries,
.center .container.audition .entries {
  display: flex;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.center .container.auditions .entries .entry,
.center .container.audition .entries .entry {
  order: 1;
  padding: 12px 25px;
}
.center .container.auditions .entries .entry.rec,
.center .container.audition .entries .entry.rec {
  box-shadow: 0 0 5px #3498db;
  order: 0;
}
.center .container.auditions .entries .entry.rec .timestamp::after,
.center .container.audition .entries .entry.rec .timestamp::after {
  content: 'Recommended';
  float: right;
  color: #3498db;
}
.center .container.auditions .entries .entry .title,
.center .container.audition .entries .entry .title {
  font-size: 18px;
  margin-bottom: 6px;
}
.center .container.auditions .entries .entry table tr td,
.center .container.audition .entries .entry table tr td {
  font-size: 14px;
  vertical-align: baseline;
  padding: 6px 6px 6px 0;
}
.center .container.auditions .entries .entry table tr td.key,
.center .container.audition .entries .entry table tr td.key {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #7f8c8d;
}
.center .container.auditions .entries .entry table tr td.value,
.center .container.audition .entries .entry table tr td.value {
  padding-left: 12px;
  padding-right: 18px;
}
.center .container.auditions .sidebar button,
.center .container.audition .sidebar button,
.center .container.auditions .sidebar a,
.center .container.audition .sidebar a {
  display: block;
  width: 100%;
}
.center .container.auditions .sidebar button:not(.back),
.center .container.audition .sidebar button:not(.back),
.center .container.auditions .sidebar a:not(.back),
.center .container.audition .sidebar a:not(.back) {
  margin-bottom: 25px;
  text-transform: capitalize;
  padding: 8px 12px;
  color: #ffffff;
  border-radius: 4px;
}
.center .container.auditions .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected),
.center .container.audition .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected),
.center .container.auditions .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected),
.center .container.audition .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected) {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  color: #000000;
  border-radius: 0;
}
.center .container.auditions .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected)[disabled],
.center .container.audition .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected)[disabled],
.center .container.auditions .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected)[disabled],
.center .container.audition .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected)[disabled] {
  background-color: #ecf0f1;
}
.center .container.auditions .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected)[disabled]:hover,
.center .container.audition .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected)[disabled]:hover,
.center .container.auditions .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected)[disabled]:hover,
.center .container.audition .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected)[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.auditions .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):hover,
.center .container.audition .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):hover,
.center .container.auditions .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):hover,
.center .container.audition .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):hover,
.center .container.auditions .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):focus,
.center .container.audition .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):focus,
.center .container.auditions .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):focus,
.center .container.audition .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.auditions .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):active,
.center .container.audition .sidebar button:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):active,
.center .container.auditions .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):active,
.center .container.audition .sidebar a:not(.back):not(.owner):not(.applied):not(.invited):not(.selected):not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.auditions .sidebar button:not(.back).owner,
.center .container.audition .sidebar button:not(.back).owner,
.center .container.auditions .sidebar a:not(.back).owner,
.center .container.audition .sidebar a:not(.back).owner {
  background-color: #ecf0f1;
  box-shadow: 0 0 1px #bdc3c7;
  color: #000000;
}
.center .container.auditions .sidebar button:not(.back).applied,
.center .container.audition .sidebar button:not(.back).applied,
.center .container.auditions .sidebar a:not(.back).applied,
.center .container.audition .sidebar a:not(.back).applied {
  background-color: #34495e;
}
.center .container.auditions .sidebar button:not(.back).selected,
.center .container.audition .sidebar button:not(.back).selected,
.center .container.auditions .sidebar a:not(.back).selected,
.center .container.audition .sidebar a:not(.back).selected {
  background-color: #3498db;
}
.center .container.auditions .sidebar button:not(.back).invited,
.center .container.audition .sidebar button:not(.back).invited,
.center .container.auditions .sidebar a:not(.back).invited,
.center .container.audition .sidebar a:not(.back).invited {
  background-color: #2ecc71;
}
.center .container.auditions .sidebar button.back,
.center .container.audition .sidebar button.back,
.center .container.auditions .sidebar a.back,
.center .container.audition .sidebar a.back {
  color: #e74c3c;
  cursor: pointer;
  text-align: center;
}
.center .container.auditions .sidebar button.back:hover,
.center .container.audition .sidebar button.back:hover,
.center .container.auditions .sidebar a.back:hover,
.center .container.audition .sidebar a.back:hover,
.center .container.auditions .sidebar button.back:focus,
.center .container.audition .sidebar button.back:focus,
.center .container.auditions .sidebar a.back:focus,
.center .container.audition .sidebar a.back:focus {
  text-decoration: none;
  color: #c0392b;
}
.center .container.audition .entries {
  -ms-flex: 1;
  flex: 1;
}
.center .container.audition .entries .entry {
  padding: 25px;
}
.center .container.audition .entries .entry p {
  margin: 12px 0;
  text-align: justify;
}
.center .container.audition .sidebar {
  width: 275px;
}
.center .container.audition .sidebar .title:nth-of-type(n+2) {
  margin-top: 25px;
}
.center .container.audition .sidebar a.btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  text-align: center;
  width: 150px;
  margin: 12px auto;
}
.center .container.audition .sidebar a.btn[disabled] {
  background-color: #ecf0f1;
}
.center .container.audition .sidebar a.btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.audition .sidebar a.btn:not([disabled]):hover,
.center .container.audition .sidebar a.btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.audition .sidebar a.btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.portfolio .c {
  margin-bottom: 12px;
}
.center .container.portfolio .c.c1 {
  width: 100%;
  padding: 12px;
}
.center .container.portfolio .c.c1 div {
  line-height: 36px;
}
.center .container.portfolio .c.c1 a:not(.btn) {
  font-size: 14px;
  color: #3498db;
  font-weight: bold;
}
.center .container.portfolio .c.c1 a.btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  float: right;
  margin: 0;
}
.center .container.portfolio .c.c1 a.btn[disabled] {
  background-color: #ecf0f1;
}
.center .container.portfolio .c.c1 a.btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.portfolio .c.c1 a.btn:not([disabled]):hover,
.center .container.portfolio .c.c1 a.btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.portfolio .c.c1 a.btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.portfolio .c.c2 {
  width: 50%;
  padding: 12px;
}
.center .container.portfolio .c.c2 .title {
  border-bottom: 1px solid #ecf0f1;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 8px;
  max-height: 40px;
  font-size: 14px;
}
.center .container.portfolio .c.c2 .title span {
  border-bottom: 1px solid #000000;
  padding: 9px 0;
}
.center .container.portfolio .c.c2 .p a {
  display: block;
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
}
.center .container.portfolio .c.c2 .p a[disabled] {
  background-color: #ecf0f1;
}
.center .container.portfolio .c.c2 .p a[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.portfolio .c.c2 .p a:not([disabled]):hover,
.center .container.portfolio .c.c2 .p a:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.portfolio .c.c2 .p a:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center > * > .container.profile .sidebar {
  width: 275px;
  margin: 0;
  margin-right: 25px;
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  padding: 18px;
}
.center > * > .container.profile .sidebar a {
  display: block;
  border-bottom: 1px solid #ecf0f1;
  padding: 9px 12px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.center > * > .container.profile .sidebar a.active {
  background-color: rgba(39, 174, 96, 0.5);
  color: #ffffff;
}
.center > * > .container.profile .sidebar a:hover {
  background-color: #2ecc71;
  color: #ffffff;
}
.center > * > .container.profile .sidebar li:last-child a {
  border: none;
}
.center > * > .container.profile > .container {
  width: 700px;
}
.center > * > .container.profile > .container.profile {
  position: relative;
}
.center > * > .container.profile > .container.profile .save-wrap {
  height: 48px;
}
.center > * > .container.profile > .container.profile .save-wrap .save {
  position: absolute;
  width: 700px;
  top: 0;
  text-align: right;
  background-color: rgba(52, 152, 219, 0.01);
  padding: 6px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.center > * > .container.profile > .container.profile .save-wrap .save .save-btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0;
}
.center > * > .container.profile > .container.profile .save-wrap .save .save-btn[disabled] {
  background-color: #ecf0f1;
}
.center > * > .container.profile > .container.profile .save-wrap .save .save-btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center > * > .container.profile > .container.profile .save-wrap .save .save-btn:not([disabled]):hover,
.center > * > .container.profile > .container.profile .save-wrap .save .save-btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center > * > .container.profile > .container.profile .save-wrap .save .save-btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center > * > .container.profile > .container.profile .save-wrap .save.fix {
  position: fixed;
  box-shadow: 0 0 5px #bdc3c7;
  background-color: rgba(52, 152, 219, 0.9);
}
.center > * > .container.profile > .container.profile .block {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  margin-bottom: 25px;
  overflow: auto;
}
.center > * > .container.profile > .container.profile .block.error {
  background: none;
  box-shadow: none;
  color: #c0392b;
  padding: 0 25px;
  margin-bottom: 3px;
}
.center > * > .container.profile > .container.profile .block.error li {
  display: none;
  line-height: 24px;
}
.center > * > .container.profile > .container.profile .block.error li.on {
  display: block;
}
.center > * > .container.profile > .container.profile .block .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 6px;
  font-size: 18px;
  margin-bottom: 12px;
}
.center > * > .container.profile > .container.profile .block .photo {
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  background-color: #eaf4fb;
  float: right;
  height: 200px;
  width: 200px;
  margin-top: -40px;
  background-image: url(../img/user.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.center > * > .container.profile > .container.profile .block .photo .overlay {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.center > * > .container.profile > .container.profile .block .photo .overlay .upload {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  position: relative;
  overflow: hidden;
  width: 135px;
  height: 36px;
}
.center > * > .container.profile > .container.profile .block .photo .overlay .upload[disabled] {
  background-color: #ecf0f1;
}
.center > * > .container.profile > .container.profile .block .photo .overlay .upload[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center > * > .container.profile > .container.profile .block .photo .overlay .upload:not([disabled]):hover,
.center > * > .container.profile > .container.profile .block .photo .overlay .upload:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center > * > .container.profile > .container.profile .block .photo .overlay .upload:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center > * > .container.profile > .container.profile .block .photo .overlay .upload .profile-pic {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 135px;
  height: 36px;
}
.center > * > .container.profile > .container.profile .block .photo:hover .overlay {
  opacity: 1;
}
.center > * > .container.profile > .container.profile .block .field {
  padding: 6px 0;
}
.center > * > .container.profile > .container.profile .block .field span {
  float: left;
  width: 150px;
  line-height: 35px;
}
.center > * > .container.profile > .container.profile .block .field input {
  display: block;
  clear: left;
  margin-left: 50px;
  width: 300px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0 0 2px #bdc3c7;
  padding: 4px 20px;
  border-bottom: 2px solid #ecf0f1;
}
.center > * > .container.profile > .container.profile .block .field input:focus {
  border-bottom-color: #3498db;
}
.center > * > .container.profile > .container.profile .block .hint {
  padding-left: 25px;
  font-size: 13px;
  color: #95a5a6;
  font-weight: 100;
  margin-bottom: 12px;
}
.center > * > .container.profile > .container.profile .block textarea {
  resize: none;
  width: 100%;
  min-height: 200px;
  box-shadow: inset 0 0 5px #bdc3c7;
  padding: 25px;
}
.center > * > .container.profile > .container.profile .block textarea:focus {
  box-shadow: inset 0 0 5px #3498db;
}
.center > * > .container.profile > .container.delete .block {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
}
.center > * > .container.profile > .container.delete .block .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 6px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
  color: #c0392b;
}
.center > * > .container.profile > .container.delete .block .hint {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 25px;
}
.center > * > .container.profile > .container.delete .block button {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
}
.center > * > .container.profile > .container.delete .block button[disabled] {
  background-color: #ecf0f1;
}
.center > * > .container.profile > .container.delete .block button[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center > * > .container.profile > .container.delete .block button:not([disabled]):hover,
.center > * > .container.profile > .container.delete .block button:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center > * > .container.profile > .container.delete .block button:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center > * > .container.profile > .container.delete .block button:not([disabled]):hover,
.center > * > .container.profile > .container.delete .block button:not([disabled]):focus {
  border-color: #c0392b;
}
.center > * > .container.profile > .container.delete .block button:not([disabled]):active {
  background-color: #c0392b;
}
.center > * > .container.profile > .container.media .dropzone {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  border: 3px dashed #ecf0f1;
  background-image: url(../img/upload.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 25px;
}
.center > * > .container.profile > .container.media .dropzone.on {
  border-color: #7f8c8d;
}
.center > * > .container.profile > .container.media .dropzone .content {
  text-align: center;
  color: #7f8c8d;
}
.center > * > .container.profile > .container.media .dropzone .content p {
  font-size: 18px;
  margin-bottom: 12px;
}
.center > * > .container.profile > .container.media .dropzone .content .upload {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  width: 100px;
  position: relative;
  cursor: default;
}
.center > * > .container.profile > .container.media .dropzone .content .upload[disabled] {
  background-color: #ecf0f1;
}
.center > * > .container.profile > .container.media .dropzone .content .upload[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center > * > .container.profile > .container.media .dropzone .content .upload:not([disabled]):hover,
.center > * > .container.profile > .container.media .dropzone .content .upload:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center > * > .container.profile > .container.media .dropzone .content .upload:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center > * > .container.profile > .container.media .dropzone .content .upload input.file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  font-size: 25px;
}
.center > * > .container.profile > .container.media .dropzone.multi .item {
  width: 100px;
  margin: 12px;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: center 25px;
  background-color: #ffffff;
  padding: 80px 3px 3px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1px #bdc3c7;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.center > * > .container.profile > .container.media .dropzone.multi .item.video {
  background-image: url(../img/video.png);
}
.center > * > .container.profile > .container.media .dropzone.multi .item.image {
  background-image: url(../img/image.png);
}
.center > * > .container.profile > .container.media .dropzone.multi .item .name {
  padding: 3px;
  display: block;
  font-size: 12px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.center > * > .container.profile > .container.media .dropzone.multi .item button {
  background-image: url(../img/cancel.png);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 3px #ecf0f1;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 11px;
  background-color: #2c3e50;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.center > * > .container.profile > .container.media .dropzone.multi .item .progress {
  height: 8px;
  margin: 6px 8px;
  display: block;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 1px #bdc3c7 inset;
}
.center > * > .container.profile > .container.media .dropzone.multi .item .progress .bar {
  display: block;
  width: 1%;
  height: 100%;
  background-color: #3498db;
}
.center > * > .container.profile > .container.media .dropzone.multi .item:hover {
  box-shadow: 0 1px 3px #bdc3c7;
}
.center > * > .container.profile > .container.media .dropzone.multi .item:hover button {
  opacity: 0.8;
}
.center > * > .container.profile > .container.media .dropzone.multi .item:hover button:hvoer {
  opacity: 1;
}
.center > * > .container.profile > .container.media .dropzone.multi .content {
  width: 100%;
  order: 0;
  align-self: flex-start;
}
.center > * > .container.profile > .container.media .dropzone.multi .content > * {
  display: inline-block;
}
.center > * > .container.profile > .container.media .hint {
  font-size: 14px;
  color: #95a5a6;
  line-height: 20px;
  margin-bottom: 25px;
}
.center > * > .container.profile > .media-holder {
  width: 100%;
}
.center > * > .container.profile > .media-holder .block {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  margin-bottom: 25px;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: flex-start;
}
.center > * > .container.profile > .media-holder .block .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 6px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 25px;
  width: 100%;
}
.center > * > .container.profile > .media-holder .block .image,
.center > * > .container.profile > .media-holder .block .video {
  width: 275px;
  margin: 20px;
  box-shadow: 0 0 3px #ecf0f1;
  text-align: center;
  position: relative;
  overflow: hidden;
  order: 0;
}
.center > * > .container.profile > .media-holder .block .image img,
.center > * > .container.profile > .media-holder .block .video img,
.center > * > .container.profile > .media-holder .block .image video,
.center > * > .container.profile > .media-holder .block .video video {
  width: 100%;
}
.center > * > .container.profile > .media-holder .block .image.hide,
.center > * > .container.profile > .media-holder .block .video.hide {
  order: 1;
}
.center > * > .container.profile > .media-holder .block .image.hide img,
.center > * > .container.profile > .media-holder .block .video.hide img,
.center > * > .container.profile > .media-holder .block .image.hide video,
.center > * > .container.profile > .media-holder .block .video.hide video {
  opacity: .25;
}
.center > * > .container.profile > .media-holder .block .image.full,
.center > * > .container.profile > .media-holder .block .video.full {
  width: 100%;
}
.center > * > .container.profile > .media-holder .block .image.full img,
.center > * > .container.profile > .media-holder .block .video.full img,
.center > * > .container.profile > .media-holder .block .image.full video,
.center > * > .container.profile > .media-holder .block .video.full video {
  max-height: 360px;
  max-width: 950px;
  width: auto;
}
.center > * > .container.profile > .media-holder .block .image.full video,
.center > * > .container.profile > .media-holder .block .video.full video {
  max-width: 640px;
  width: auto;
  height: auto;
}
.center > * > .container.profile > .media-holder .block .image .controls,
.center > * > .container.profile > .media-holder .block .video .controls {
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px);
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: absolute;
  top: 6px;
  right: 6px;
}
.center > * > .container.profile > .media-holder .block .image .controls li,
.center > * > .container.profile > .media-holder .block .video .controls li {
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-left: 6px;
  background-color: #000000;
  border: 2px solid #ffffff;
  border-radius: 12px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
  box-shadow: 0 0 3px #ecf0f1;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center center;
}
.center > * > .container.profile > .media-holder .block .image .controls li:hover,
.center > * > .container.profile > .media-holder .block .video .controls li:hover {
  border-width: 0;
}
.center > * > .container.profile > .media-holder .block .image .controls li.eye,
.center > * > .container.profile > .media-holder .block .video .controls li.eye {
  background-image: url(../img/hide.png);
}
.center > * > .container.profile > .media-holder .block .image .controls li.del,
.center > * > .container.profile > .media-holder .block .video .controls li.del {
  background-image: url(../img/cancel.png);
}
.center > * > .container.profile > .media-holder .block .image:hover:not(.full) .controls,
.center > * > .container.profile > .media-holder .block .video:hover:not(.full) .controls {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.center > * > .container.profile > .container.mark h1 {
  font-size: 1.5em;
  margin-bottom: 12px;
}
.center > * > .container.profile > .container.mark h1 + p {
  margin-bottom: 25px;
}
.center > * > .container.profile > .container.mark .title {
  border-bottom: 1px solid #ecf0f1;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 8px;
  max-height: 40px;
}
.center > * > .container.profile > .container.mark .title span {
  border-bottom: 1px solid #000000;
  padding: 9px 0;
}
.center > * > .container.profile > .container.mark .block {
  padding-left: 12px;
}
.center > * > .container.profile > .container.mark .block .sub-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
}
.center > * > .container.profile > .container.mark .block .entries {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-bottom: 25px;
}
.center > * > .container.profile > .container.mark .block .entries .col {
  width: 33.33%;
  margin-bottom: 25px;
}
.center > * > .container.profile > .container.mark .block .entries .col .item {
  background-color: #FFF;
  padding: 12px 12px 12px 40px;
  -moz-transition: color .2s, background .2s;
  -o-transition: color .2s, background .2s;
  -webkit-transition: color .2s, background .2s;
  transition: color .2s, background .2s;
  box-shadow: 0 1px 3px #bdc3c7;
  cursor: pointer;
  width: 95%;
  font-size: 14px;
  margin: auto;
}
.center > * > .container.profile > .container.mark .block .entries .col .item:hover {
  box-shadow: 0 2px 4px #bdc3c7;
}
.center > * > .container.profile > .container.mark .block .entries .col .item.mark {
  background-color: #3498db;
  background-image: url(../img/tick.png);
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 24px 24px;
  color: #FFF;
}
/*# sourceMappingURL=profile-index.css.map */