/*Bluish Green*/
/*Yellowish Red*/
/*Yellow*/
/*Red*/
/*Green*/
/*Blue*/
/*Violet*/
/*Indigo*/
/*Grey*/
/*Light Grey*/
/*Pure*/
.block-div {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 10;
}
.header .content {
  max-width: 1000px;
  margin: auto;
}
.header .content .controls {
  float: right;
  color: #ffffff;
}
.header .content .controls .skip:hover {
  text-decoration: underline;
}
.header .content .controls .next {
  padding: 8px 12px;
  background-color: #ffffff;
  color: #3498db;
  margin-top: 8px;
  margin-left: 25px;
  box-shadow: 0 0 5px #2980b9;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.header .content .controls .next:hover {
  color: #2980b9;
  box-shadow: 0 2px 5px #1b557a;
}
.header .content .controls .next:active {
  box-shadow: 0 0 3px #2980b9;
}
.header .content .logo {
  float: left;
  line-height: 50px;
}
.header .content ul {
  height: 50px;
  list-style: none;
  width: 541px;
  margin: 0 auto;
}
.header .content ul li {
  text-transform: capitalize;
  float: left;
}
.header .content ul li.title {
  font-weight: bold;
  margin-right: 25px;
  line-height: 50px;
}
.header .content ul li > span {
  display: inline-block;
  height: 50px;
  line-height: 50px;
}
.header .content ul li .content {
  -moz-transition: background .2s;
  -o-transition: background .2s;
  -webkit-transition: background .2s;
  transition: background .2s;
  padding: 0 12px;
}
.header .content ul li .sep {
  width: 15px;
  height: 50px;
  background-size: 100% 100%;
  position: relative;
  float: left;
  background-image: url(../img/stepnw.png);
  -moz-transition: background .2s;
  -o-transition: background .2s;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.header .content ul li.on .sep {
  background-image: url(../img/stepow.png);
}
.header .content ul li.on .content {
  background-color: #ffffff;
  color: #2980b9;
}
.header .content ul li.on + li .sep {
  background-image: url(../img/stepiw.png);
}
.wait-overlay {
  position: fixed;
  top: 50px;
  width: 100%;
  bottom: 0;
  background-image: url(/Assets/img/hourglass.svg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center center;
  display: none;
}
.wait-overlay.on {
  display: block;
}
.container {
  width: 1000px;
  margin: auto;
  padding: 75px 0 25px;
}
.container.mark h1 {
  font-size: 1.5em;
  margin-bottom: 12px;
}
.container.mark h1 + p {
  margin-bottom: 25px;
}
.container.mark .title {
  border-bottom: 1px solid #ecf0f1;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 8px;
  max-height: 40px;
}
.container.mark .title span {
  border-bottom: 1px solid #000000;
  padding: 9px 0;
}
.container.mark .block {
  padding-left: 12px;
}
.container.mark .block .sub-title {
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
}
.container.mark .block .entries {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.container.mark .block .entries .col {
  width: 100%;
  margin-bottom: 25px;
}
@media screen and (min-width: 599px) {
  .container.mark .block .entries .col {
    width: 50%;
  }
}
@media screen and (min-width: 899px) {
  .container.mark .block .entries .col {
    width: 33.33%;
  }
}
@media screen and (min-width: 1199px) {
  .container.mark .block .entries .col {
    width: 25%;
  }
}
.container.mark .block .entries .col .item {
  background-color: #FFF;
  padding: 12px 12px 12px 40px;
  -moz-transition: color .2s, background .2s;
  -o-transition: color .2s, background .2s;
  -webkit-transition: color .2s, background .2s;
  transition: color .2s, background .2s;
  box-shadow: 0 1px 3px #bdc3c7;
  cursor: pointer;
  width: 95%;
  font-size: 14px;
  margin: auto;
}
.container.mark .block .entries .col .item:hover {
  box-shadow: 0 2px 4px #bdc3c7;
}
.container.mark .block .entries .col .item.mark {
  background-color: #3498db;
  background-image: url(../img/tick.png);
  background-repeat: no-repeat;
  background-position: 8px center;
  background-size: 24px 24px;
  color: #FFF;
}
.container.intro {
  width: 600px;
  text-align: center;
}
.container.intro .block {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
}
.container.intro .block > * {
  margin-bottom: 25px;
}
.container.intro .block h1 {
  font-size: 4em;
  color: #3498db;
  font-family: 'Dancing Script';
}
.container.intro .block p:first-child {
  margin-bottom: 0;
  font-size: 14px;
}
.container.profile {
  padding-top: 75px;
}
.container.profile .block {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  margin-bottom: 25px;
  overflow: auto;
}
.container.profile .block.error {
  background: none;
  box-shadow: none;
  color: #c0392b;
  padding: 0 25px;
  margin-bottom: 3px;
}
.container.profile .block.error li {
  display: none;
  line-height: 24px;
}
.container.profile .block.error li.on {
  display: block;
}
.container.profile .block .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 6px;
  font-size: 18px;
  margin-bottom: 12px;
}
.container.profile .block .photo {
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  background-color: #eaf4fb;
  float: right;
  height: 200px;
  width: 200px;
  margin-top: -40px;
  background-image: url(../img/user.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
.container.profile .block .photo .overlay {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.container.profile .block .photo .overlay .upload {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  position: relative;
  overflow: hidden;
  width: 135px;
  height: 36px;
}
.container.profile .block .photo .overlay .upload[disabled] {
  background-color: #ecf0f1;
}
.container.profile .block .photo .overlay .upload[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.container.profile .block .photo .overlay .upload:not([disabled]):hover,
.container.profile .block .photo .overlay .upload:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.container.profile .block .photo .overlay .upload:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.container.profile .block .photo .overlay .upload .profile-pic {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 135px;
  height: 36px;
}
.container.profile .block .photo:hover .overlay {
  opacity: 1;
}
.container.profile .block .field {
  padding: 6px 0;
}
.container.profile .block .field span {
  float: left;
  width: 150px;
  line-height: 35px;
}
.container.profile .block .field input {
  display: inline-block;
  width: 300px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0 0 2px #bdc3c7;
  padding: 4px 20px;
  border-bottom: 2px solid #ecf0f1;
}
.container.profile .block .field input:focus {
  border-bottom-color: #3498db;
}
.container.profile .block .hint {
  padding-left: 25px;
  font-size: 13px;
  color: #95a5a6;
  font-weight: 100;
  margin-bottom: 12px;
}
.container.profile .block textarea {
  resize: none;
  width: 100%;
  min-height: 200px;
  box-shadow: inset 0 0 5px #bdc3c7;
  padding: 25px;
}
.container.profile .block textarea:focus {
  box-shadow: inset 0 0 5px #3498db;
}
.container.media .dropzone {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  border: 3px dashed #ecf0f1;
  background-image: url(../img/upload.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 25px;
}
.container.media .dropzone.on {
  border-color: #7f8c8d;
}
.container.media .dropzone .content {
  text-align: center;
  color: #7f8c8d;
}
.container.media .dropzone .content p {
  font-size: 18px;
  margin-bottom: 12px;
}
.container.media .dropzone .content .upload {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  width: 100px;
  position: relative;
  cursor: default;
}
.container.media .dropzone .content .upload[disabled] {
  background-color: #ecf0f1;
}
.container.media .dropzone .content .upload[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.container.media .dropzone .content .upload:not([disabled]):hover,
.container.media .dropzone .content .upload:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.container.media .dropzone .content .upload:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.container.media .dropzone .content .upload input.file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  font-size: 25px;
}
.container.media .dropzone.multi .item {
  width: 100px;
  margin: 12px;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-position: center 25px;
  background-color: #ffffff;
  padding: 80px 3px 3px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 1px #bdc3c7;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.container.media .dropzone.multi .item.video {
  background-image: url(../img/video.png);
}
.container.media .dropzone.multi .item.image {
  background-image: url(../img/image.png);
}
.container.media .dropzone.multi .item .name {
  padding: 3px;
  display: block;
  font-size: 12px;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container.media .dropzone.multi .item button {
  background-image: url(../img/cancel.png);
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 3px #ecf0f1;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 11px;
  background-color: #2c3e50;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.container.media .dropzone.multi .item .progress {
  height: 8px;
  margin: 6px 8px;
  display: block;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 0 1px #bdc3c7 inset;
}
.container.media .dropzone.multi .item .progress .bar {
  display: block;
  width: 1%;
  height: 100%;
  background-color: #3498db;
}
.container.media .dropzone.multi .item:hover {
  box-shadow: 0 1px 3px #bdc3c7;
}
.container.media .dropzone.multi .item:hover button {
  opacity: 0.8;
}
.container.media .dropzone.multi .item:hover button:hvoer {
  opacity: 1;
}
.container.media .dropzone.multi .content {
  width: 100%;
  order: 0;
  align-self: flex-start;
}
.container.media .dropzone.multi .content > * {
  display: inline-block;
}
.container.media .hint {
  font-size: 14px;
  color: #95a5a6;
  line-height: 20px;
}
/*# sourceMappingURL=profile-config.css.map */