/*Bluish Green*/
/*Yellowish Red*/
/*Yellow*/
/*Red*/
/*Green*/
/*Blue*/
/*Violet*/
/*Indigo*/
/*Grey*/
/*Light Grey*/
/*Pure*/
.block-div {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
}
.center .container.home {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: flex-start;
}
.center .container.home .block {
  flex-grow: 1;
  flex-basis: 60%;
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  margin: 0 12px 25px;
}
.center .container.home .block .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 6px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
}
.center .container.home .block p {
  text-align: justify;
  margin-bottom: 12px;
}
.center .container.home .block ul li {
  display: inline-block;
  box-shadow: 0 0 1px #ecf0f1;
  margin: 12px;
  -moz-transition: box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}
.center .container.home .block ul li:hover {
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.home .block ul li a {
  display: block;
  width: 100px;
}
.center .container.home .block ul li a .img {
  display: block;
  height: 100px;
  background-image: url(../img/user.png);
  background-size: 100% auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eaf4fb;
}
.center .container.home .block ul li a .name {
  display: block;
  text-align: center;
  padding: 12px 6px;
  font-size: 12px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
}
.center .container.settings .block .member {
  padding: 6px;
  box-shadow: 0 0 1px #ecf0f1;
  overflow: auto;
  position: relative;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.center .container.settings .block .member:hover {
  box-shadow: 0 0 3px #bdc3c7;
  z-index: 25;
}
.center .container.settings .block .member img {
  height: 36px;
  width: 36px;
  float: left;
  margin-right: 25px;
}
.center .container.settings .block .member .name {
  line-height: 36px;
}
.center .container.settings .block .member .btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0;
  margin-left: 12px;
  float: right;
}
.center .container.settings .block .member .btn[disabled] {
  background-color: #ecf0f1;
}
.center .container.settings .block .member .btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.settings .block .member .btn:not([disabled]):hover,
.center .container.settings .block .member .btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.settings .block .member .btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.settings .block .member .btn.r:hover {
  border-bottom-color: #c0392b;
}
.center .container.tasks .tasks {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  margin: 0 12px;
}
.center .container.tasks .tasks .create .fields {
  height: 50px;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 12px;
  justify-content: flex-end;
}
.center .container.tasks .tasks .create .fields > * {
  display: block;
  margin-right: 12px;
  overflow: hidden;
  font-size: 14px;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.center .container.tasks .tasks .create .fields input,
.center .container.tasks .tasks .create .fields select {
  font-size: 16px;
  padding: 7px 12px;
  box-shadow: 0 0 2px #bdc3c7;
  border-bottom: 2px solid #ecf0f1;
}
.center .container.tasks .tasks .create .fields input:focus,
.center .container.tasks .tasks .create .fields select:focus {
  border-bottom-color: #3498db;
}
.center .container.tasks .tasks .create .fields input.task-assign,
.center .container.tasks .tasks .create .fields select.task-assign {
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}
.center .container.tasks .tasks .create .fields input.task-input,
.center .container.tasks .tasks .create .fields select.task-input {
  -ms-flex: 1 1 200px;
  flex: 1 1 200px;
  margin-left: 25px;
}
.center .container.tasks .tasks .create .fields input.task-input:after,
.center .container.tasks .tasks .create .fields select.task-input:after {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  content: "hello";
}
.center .container.tasks .tasks .create .fields input.task-input:after[disabled],
.center .container.tasks .tasks .create .fields select.task-input:after[disabled] {
  background-color: #ecf0f1;
}
.center .container.tasks .tasks .create .fields input.task-input:after[disabled]:hover,
.center .container.tasks .tasks .create .fields select.task-input:after[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.tasks .tasks .create .fields input.task-input:after:not([disabled]):hover,
.center .container.tasks .tasks .create .fields select.task-input:after:not([disabled]):hover,
.center .container.tasks .tasks .create .fields input.task-input:after:not([disabled]):focus,
.center .container.tasks .tasks .create .fields select.task-input:after:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.tasks .tasks .create .fields input.task-input:after:not([disabled]):active,
.center .container.tasks .tasks .create .fields select.task-input:after:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.tasks .tasks .create .fields button.btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0;
  margin-right: 12px;
}
.center .container.tasks .tasks .create .fields button.btn[disabled] {
  background-color: #ecf0f1;
}
.center .container.tasks .tasks .create .fields button.btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.tasks .tasks .create .fields button.btn:not([disabled]):hover,
.center .container.tasks .tasks .create .fields button.btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.tasks .tasks .create .fields button.btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.tasks .tasks .create .fields button.btn.c {
  width: 0;
  padding: 8px 0;
  margin-right: 0;
}
.center .container.tasks .tasks .create .fields button.btn:not(.c) {
  box-shadow: 0 0 2px #bdc3c7;
}
.center .container.tasks .tasks .create .fields button.cancel {
  color: #e74c3c;
  cursor: pointer;
}
.center .container.tasks .tasks .create .fields button.cancel:hover,
.center .container.tasks .tasks .create .fields button.cancel:focus {
  text-decoration: underline;
  color: #c0392b;
}
.center .container.tasks .tasks .create .fields.short > * {
  margin-right: 0;
  width: 0;
}
.center .container.tasks .tasks .create .fields.short input,
.center .container.tasks .tasks .create .fields.short select {
  -ms-flex: 0 1 0;
  flex: 0 1 0;
  padding: 7px 0;
}
.center .container.tasks .tasks .create .fields.short button {
  padding: 8px 0;
}
.center .container.tasks .tasks .create .fields.short button.btn.c {
  padding: 8px 12px;
  width: auto;
}
.center .container.tasks .tasks .on-going {
  margin-bottom: 25px;
}
.center .container.tasks .tasks .head {
  display: flex;
  padding-bottom: 6px;
  border-bottom: 1px solid #ecf0f1;
  margin-bottom: 6px;
}
.center .container.tasks .tasks .head .col {
  font-size: 14px;
  color: #bdc3c7;
}
.center .container.tasks .tasks .head .col.c1 {
  width: 45px;
  margin-left: 34px;
}
.center .container.tasks .tasks .head .col.c2 {
  width: 100px;
}
.center .container.tasks .tasks .empty {
  margin-left: 180px;
  color: #7f8c8d;
  font-size: 14px;
}
.center .container.tasks .tasks .task {
  display: flex;
  align-items: flex-start;
  margin-bottom: 12px;
}
.center .container.tasks .tasks .task > div {
  margin: 0 3px;
}
.center .container.tasks .tasks .task .controls {
  width: 80px;
  height: 30px;
  text-align: center;
  margin-left: -60px;
  background-color: #ffffff;
  padding: 3px;
  box-shadow: -2px 0 3px -1px #bdc3c7;
  border-radius: 15px 0 0 15px;
  opacity: 0;
}
.center .container.tasks .tasks .task .controls button {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .5;
  cursor: pointer;
}
.center .container.tasks .tasks .task .controls button.edit {
  background-image: url(../img/edit.png);
}
.center .container.tasks .tasks .task .controls button.delete {
  margin-left: 3px;
  background-image: url(../img/delete.png);
}
.center .container.tasks .tasks .task .controls button:hover {
  opacity: 1;
}
.center .container.tasks .tasks .task:hover .controls {
  opacity: 1;
}
.center .container.tasks .tasks .task .check {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin: 7px 20px;
  box-shadow: 0 0 1px #bdc3c7;
  cursor: pointer;
}
.center .container.tasks .tasks .task .date {
  width: 100px;
  font-size: 14px;
  margin: 7px 0;
  cursor: default;
}
.center .container.tasks .tasks .task .content {
  -ms-flex: 1;
  flex: 1;
  margin-top: 7px;
  cursor: default;
}
.center .container.tasks .tasks .task .content .person {
  font-weight: bold;
  color: #3498db;
  font-size: 14px;
  margin-left: 6px;
}
.center .container.tasks .tasks .task .content .person:before {
  content: "-";
  margin-right: 6px;
}
.center .container.tasks .tasks .task.done {
  color: #95a5a6;
}
.center .container.tasks .tasks .task.done .content {
  text-decoration: line-through;
}
.center .container.tasks .tasks .task.done .check {
  box-shadow: none;
  background-image: url(../img/tick-d.png);
  background-size: 100% 100%;
}
.center .container.tasks .tasks .task.done .controls {
  width: 40px;
  margin-left: -20px;
}
.center .container.tasks .tasks .task.done .controls button.edit {
  display: none;
}
.center .container.auditions .block {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  margin-bottom: 25px;
}
.center .container.auditions .block .invite {
  box-shadow: 0 0 2px #ecf0f1;
  padding: 12px;
}
.center .container.auditions .block .invite .status {
  font-style: italic;
  color: #bdc3c7;
  font-size: 14px;
  vertical-align: middle;
}
.center .container.auditions .block .invite button {
  float: right;
}
.center .container.auditions .block .invite button.btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0;
  margin-right: 12px;
}
.center .container.auditions .block .invite button.btn[disabled] {
  background-color: #ecf0f1;
}
.center .container.auditions .block .invite button.btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.auditions .block .invite button.btn:not([disabled]):hover,
.center .container.auditions .block .invite button.btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.auditions .block .invite button.btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.auditions .block .invite button.cancel {
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 6px 12px;
}
.center .container.auditions .block .invite button.cancel i {
  position: absolute;
  height: 141.42135624%;
  top: 0;
  left: 50%;
  width: 1px;
  background-color: #7f8c8d;
}
.center .container.auditions .block .invite button.cancel i.x {
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.center .container.auditions .block .invite button.cancel i.xx {
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.center .container.auditions .block .invite button.cancel:hover i {
  background-color: #c0392b;
}
.center .container.auditions .block .invite a {
  line-height: 36px;
  color: #3498db;
  font-weight: bold;
  margin-left: 12px;
}
.center .container.auditions .block .invite a:hover {
  border-bottom: 1px dotted;
}
.center .container.auditions .block .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 6px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
}
.center .container.auditions .block .audition {
  box-shadow: 0 0 2px #ecf0f1;
  overflow: auto;
  padding: 12px;
}
.center .container.auditions .block .audition .btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0;
  margin-left: 12px;
  float: right;
}
.center .container.auditions .block .audition .btn[disabled] {
  background-color: #ecf0f1;
}
.center .container.auditions .block .audition .btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.auditions .block .audition .btn:not([disabled]):hover,
.center .container.auditions .block .audition .btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.auditions .block .audition .btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.auditions .block .audition span {
  line-height: 36px;
}
.center .container.auditions .block .audition span.count {
  float: right;
  color: #bdc3c7;
  font-size: 14px;
  font-style: italic;
  margin-right: 25px;
  cursor: default;
}
.center .container.auditions .block .audition span.count:hover {
  text-decoration: underline;
}
.center .container.auditions .block .audition a.name {
  line-height: 36px;
  color: #3498db;
  font-weight: bold;
  margin-left: 12px;
}
.center .container.auditions .block .audition a.name:hover {
  border-bottom: 1px dotted;
}
.center .container.audition .block {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  margin-bottom: 25px;
}
.center .container.audition .block > .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 6px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 14px;
}
.center .container.audition .block .gact {
  text-align: right;
}
.center .container.audition .block .gact button {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
}
.center .container.audition .block .gact button[disabled] {
  background-color: #ecf0f1;
}
.center .container.audition .block .gact button[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.audition .block .gact button:not([disabled]):hover,
.center .container.audition .block .gact button:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.audition .block .gact button:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.audition .block .candidate {
  box-shadow: 0 0 2px #ecf0f1;
  padding: 12px;
}
.center .container.audition .block .candidate .status {
  font-style: italic;
  color: #bdc3c7;
  font-size: 14px;
  vertical-align: middle;
}
.center .container.audition .block .candidate button {
  float: right;
}
.center .container.audition .block .candidate button.btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0;
  margin-right: 12px;
}
.center .container.audition .block .candidate button.btn[disabled] {
  background-color: #ecf0f1;
}
.center .container.audition .block .candidate button.btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.audition .block .candidate button.btn:not([disabled]):hover,
.center .container.audition .block .candidate button.btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.audition .block .candidate button.btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.audition .block .candidate button.cancel {
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 6px 12px;
}
.center .container.audition .block .candidate button.cancel i {
  position: absolute;
  height: 141.42135624%;
  top: 0;
  left: 50%;
  width: 1px;
  background-color: #7f8c8d;
}
.center .container.audition .block .candidate button.cancel i.x {
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.center .container.audition .block .candidate button.cancel i.xx {
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.center .container.audition .block .candidate button.cancel:hover i {
  background-color: #c0392b;
}
.center .container.audition .block .candidate a {
  line-height: 36px;
  color: #3498db;
  font-weight: bold;
  margin-left: 12px;
}
.center .container.audition .block .candidate a:hover {
  border-bottom: 1px dotted;
}
.center .container.invite .block .invite {
  box-shadow: 0 0 2px #ecf0f1;
  padding: 12px;
}
.center .container.invite .block .invite .status {
  font-style: italic;
  color: #bdc3c7;
  font-size: 14px;
  vertical-align: middle;
}
.center .container.invite .block .invite button {
  float: right;
}
.center .container.invite .block .invite button.btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0;
  margin-right: 12px;
}
.center .container.invite .block .invite button.btn[disabled] {
  background-color: #ecf0f1;
}
.center .container.invite .block .invite button.btn[disabled]:hover {
  border-bottom-color: #c0392b;
  cursor: not-allowed;
}
.center .container.invite .block .invite button.btn:not([disabled]):hover,
.center .container.invite .block .invite button.btn:not([disabled]):focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.invite .block .invite button.btn:not([disabled]):active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.invite .block .invite button.cancel {
  display: block;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 6px 12px;
}
.center .container.invite .block .invite button.cancel i {
  position: absolute;
  height: 141.42135624%;
  top: 0;
  left: 50%;
  width: 1px;
  background-color: #7f8c8d;
}
.center .container.invite .block .invite button.cancel i.x {
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.center .container.invite .block .invite button.cancel i.xx {
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}
.center .container.invite .block .invite button.cancel:hover i {
  background-color: #c0392b;
}
.center .container.invite .block .invite a {
  line-height: 36px;
  color: #3498db;
  font-weight: bold;
  margin-left: 12px;
}
.center .container.invite .block .invite a:hover {
  border-bottom: 1px dotted;
}
/*# sourceMappingURL=projects-team.css.map */