/*Bluish Green*/
/*Yellowish Red*/
/*Yellow*/
/*Red*/
/*Green*/
/*Blue*/
/*Violet*/
/*Indigo*/
/*Grey*/
/*Light Grey*/
/*Pure*/
.block-div {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
}
.center {
  max-width: 1000px;
  margin: auto;
}
.center .container.list {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.center .container.list .c {
  margin-bottom: 12px;
}
.center .container.list .c.c1 {
  width: 100%;
  padding: 12px;
}
.center .container.list .c.c1 div {
  line-height: 36px;
}
.center .container.list .c.c1 a:not(.btn) {
  font-size: 14px;
  color: #3498db;
  font-weight: bold;
}
.center .container.list .c.c1 a.btn {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  float: right;
  margin: 0;
}
.center .container.list .c.c1 a.btn:hover,
.center .container.list .c.c1 a.btn:focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.list .c.c1 a.btn:active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
.center .container.list .c.c2 {
  width: 50%;
  padding: 12px;
}
.center .container.list .c.c2 .title {
  border-bottom: 1px solid #ecf0f1;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 8px;
  max-height: 40px;
  font-size: 14px;
  margin-bottom: 25px;
}
.center .container.list .c.c2 .title span {
  border-bottom: 1px solid #000000;
  padding: 9px 0;
}
.center .container.list .c.c2 .p {
  background-color: #ffffff;
  box-shadow: 0 0 1px #bdc3c7;
  padding: 25px;
  margin-bottom: 25px;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.center .container.list .c.c2 .p:hover {
  box-shadow: 0 1px 5px #bdc3c7;
}
.center .container.list .c.c2 .p a {
  display: block;
  color: #3498db;
  font-weight: bold;
  padding-bottom: 6px;
}
.center .container.list .c.c2 .p a:hover {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 5px;
  color: #2980b9;
}
.center .container.list .c.c2 .p a ~ p {
  margin-top: 12px;
}
.center .container.create > .title {
  border-bottom: 1px solid #ecf0f1;
  font-weight: bold;
  margin-bottom: 12px;
  padding-bottom: 8px;
  max-height: 40px;
  margin-bottom: 25px;
}
.center .container.create > .title span {
  border-bottom: 1px solid #000000;
  padding: 9px 0;
}
.center .container.create .block {
  background-color: #ffffff;
  box-shadow: 0 0 5px #bdc3c7;
  padding: 25px;
  margin-bottom: 25px;
  overflow: auto;
}
.center .container.create .block .title {
  border-bottom: 1px solid #ecf0f1;
  padding-bottom: 6px;
  font-size: 18px;
  margin-bottom: 12px;
}
.center .container.create .block .field {
  padding: 6px 0;
}
.center .container.create .block .field span {
  float: left;
  width: 150px;
  line-height: 35px;
}
.center .container.create .block .field input {
  display: inline-block;
  width: 300px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0 0 2px #bdc3c7;
  padding: 4px 20px;
  border-bottom: 2px solid #ecf0f1;
}
.center .container.create .block .field input:focus {
  border-bottom-color: #3498db;
}
.center .container.create .block .field textarea {
  resize: none;
  width: 600px;
  min-height: 200px;
  box-shadow: inset 0 0 5px #bdc3c7;
  padding: 25px;
}
.center .container.create .block .field textarea:focus {
  box-shadow: inset 0 0 5px #3498db;
}
.center .container.create .block .field button {
  background-color: #ffffff;
  border-bottom: 2px solid #ecf0f1;
  box-shadow: 0 1px 4px #bdc3c7;
  margin: 12px auto;
  padding: 8px 12px;
  cursor: pointer;
  -moz-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -o-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  -webkit-transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  transition: color 0.2s, box-shadow 0.2s, border 0.2s;
  margin: 0;
}
.center .container.create .block .field button:hover,
.center .container.create .block .field button:focus {
  color: #000000;
  border-bottom-color: #3498db;
  box-shadow: 0 2px 5px #bdc3c7;
}
.center .container.create .block .field button:active {
  color: #ffffff;
  background-color: #3498db;
  box-shadow: 0 0 3px #bdc3c7;
}
/*# sourceMappingURL=projects-index.css.map */